/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */

/******************************************
/* BASE STYLES
/*******************************************/
html {
  display: flex;
  flex-direction: column;
  background: #0b3d91;
  color: white;
  font-size: 62.5%;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  min-height: 100vh;
  width: 100%;
  max-width: 90rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;

  aspect-ratio: 1 / 1;
  border: 3px solid black;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 3px solid black;
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}

h1 {
  font-size: 40px;
  width: 90%;
  margin: 5rem auto 1.5rem auto;
  text-shadow: 2px 2px 2px #fc3d21;
  text-align: center;
}

h2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.pText {
  font-style: italic;
  color: #0b3d91;
}

.btn {
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background: #aaa;
  border: 3px solid transparent;
  border-radius: 3px;
}

/******************************************
/* LAYOUT
/*******************************************/
.searchSection {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 1rem 0;
  justify-content: center;
  align-items: center;
}

.pictureSearch {
  margin-left: 0.5rem;
}

.lucky {
  display: block;
  margin-bottom: 2rem;
}

.imageSection {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.dateDisplay,
.titleDisplay,
.explanationDisplay {
  background: hsla(255, 100%, 100%, 0.4);
  min-height: 4rem;
  width: 90%;
  border: 3px solid #fc3d21;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.titleDisplay {
  min-height: 6rem;
}

.explanationDisplay {
  min-height: 8rem;
  margin-bottom: 5rem;
}
.pText {
  font-weight: 700;
  font-style: italic;
  color: #0b3d91;
  text-align: left;
}

span {
  color: white;
  font-style: normal;
  font-weight: 400;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
